<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container d-flex flex-column">
        <h1>Home</h1>
        <div class="py-2" sec:authorize="hasAuthority('ROLE_ADMIN')" >
            <a href="#" th:href="@{/events/new}">Create new event</a>
        </div>

        <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <p>Please log in or register to view schedules and sign up for them</p>
        </div>

        <th:block th:each="event: ${events}">
        <div class="my-2 p-3 border rounded">
            <div class="py-2">
                <table>
                <tr class="d-flex flex-column">
                    <td th:text="${event.sportType}" />
                    <td th:text="${event.description}" />
                    <td th:text="'Trainer: '+ ${event.trainerName}" />
                    <td th:text="'email: '+ ${event.trainerEmail}" />

                    <td sec:authorize="hasAuthority('ROLE_ADMIN')"
                        th:text="'Available: '+ ${event.isAvailable}" />

                    <td class="text-muted" th:if= "${not event.isAvailable}"
                        th:text="'Event is not available for now'" />
                </tr>
                </table>
            </div>
            <div th:if= "${event.isAvailable}" sec:authorize="hasAuthority('ROLE_USER')">
                <form action="#" th:action="@{/schedules}" method="get">
                    <input type="hidden" th:value="${event.id}" th:name="id"/>
                    <p><input type="submit" value="Schedules" class="btn btn-info"/></p>
                </form>
            </div>

            <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                <form action="#" th:action="@{/schedules}" method="get">
                    <input type="hidden" th:value="${event.id}" th:name="id"/>
                    <p><input type="submit" value="Schedules" class="btn btn-info"/></p>
                </form>
            </div>


            <div sec:authorize="hasAuthority('ROLE_ADMIN')" >
                <form action="#" th:action="@{/events/update}" method="post">
                    <input type="hidden" th:value="${event.id}" th:name="id"/>
                    <p><input type="submit" value="Change availability" class="btn btn-outline-primary"/></p>
                </form>
            </div>


            <div sec:authorize="hasAuthority('ROLE_ADMIN')" >
                <form action="#" th:action="@{/events/delete}" method="post">
                    <input type="hidden" th:value="${event.id}" th:name="id"/>
                    <p><input type="submit" value="Delete event and all its schedules" class="btn btn-outline-danger"/></p>
                </form>
            </div>
        </div>
        </th:block>
    </div>
</body>
</html>