<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Login page</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container d-flex flex-column align-items-center">
    <div class="py-2">
        <h1>Login page</h1>
    </div>

    <form action="#" th:action="@{/login}" th:object="${user}" method="post" style="width: 300px;">
        <p class="d-flex flex-column">Email:
            <input type="text" th:field="*{email}" class="rounded border border-secondary p-1"/>
        </p>
        <p class="d-flex flex-column">Password:
            <input type="text" th:field="*{password}" class="rounded border border-secondary p-1"/>
        </p>

        <p class="d-flex flex-column align-items-center">
            <input class="d-block px-5 my-2 btn btn-primary"
                   type="submit" value="Submit" />
            <input class="d-block px-5 my-2 btn btn-secondary"
                   type="reset" value="Reset" />

            <a href="/register" th:href="@{/register}">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Register
            </a>
        </p>

    </form>
</div>
</body>
</html>