<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Schedule</title>
</head>
<body>
  <h1>Create New Schedule</h1>
  <h2>Selected event</h2>
  <th:block>
    <p th:text="${event.sportType}"></p>
    <p th:text="${event.description}"></p>
    <p th:text="'Trainer: '+ ${event.trainerName}"></p>
    <p th:text="'email: '+ ${event.trainerEmail}"></p>
  </th:block>

  <form action="#" th:action="@{/schedules}" th:object="${schedule}" method="post">
    <label for="startTime">Start Time:</label>
    <input type="datetime-local" id="startTime" th:field="*{startTime}" />

    <label for="endTime">End Time:</label>
    <input type="datetime-local" id="endTime" th:field="*{endTime}" />

    <label for="capacity">Capacity:</label>
    <input type="number" id="capacity" th:field="*{capacity}" />

    <input type="hidden" th:value="${event.id}" th:name="eventId"/>

    <button type="submit">Submit</button>
  </form>
</body>
</html>