<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedules</title>
</head>
<body>
<h1>Schedules</h1>
<th:block>
<tr>
    <h2>Selected event</h2>
    <th:block>
        <td th:text="${event.sportType}" />
        <td th:text="${event.description}" />
        <td th:text="'Trainer: '+ ${event.trainerName}" />
        <td th:text="'email: '+ ${event.trainerEmail}" />
    </th:block>
</tr>
</th:block>

<th:block th:each="schedule: ${schedules}">
    <tr>
        <div>
            <td th:text="${schedule.startTime}" />
            <td th:text="${schedule.endTime}" />
            <td th:text="${schedule.signedUpCount}" />
            <td th:text="' / '+${schedule.capacity}" />
        </div>

        <form action="#" th:action="@{/signup}" method="post">
            <input type="hidden" th:value="${schedule.id}" th:name="id"/>
            <p><input type="submit" value="Sign up" /></p>
        </form>
    </tr>
</th:block>



</body>
</html>